#paragraph-input {
  border: 2px solid rgb(150, 0, 0);
  width: 400px;
  height: 300px;
  padding: 8px 16px;
  overflow: scroll;
}

.highlighted-txt {
  color: rgb(0, 0, 0);
  background-color: rgb(241, 255, 45);
}