.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 0;
    padding: 0;
    font-size: 20px;
  }
  .text-here{
      width: 100%;
      margin-top: 5%;
      height: 150px;
      font-size: 55;
  }
  #css-props{
    background-color: darkslategray;
  }
  button{
    height: 30;
    width: 150;
  }
 button:hover{
  opacity: 0.9;
 }